*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
}

html,
body,
#homepage {
  height: 100%;
}

:root {
  font-size: 62.5%;
}

body {
  color: #fff;
  background: #ebf2f5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button,
textarea {
  font: 400 1.8rem/1 'Nunito', sans-serif;
}
